@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    width: 2056px;
}

header div{
    background-color: #D1891C;
    color: #333333;
    font-size: 48px;
    font-weight: 400;
    height: 61px;
    text-indent: 67px;
}
.titulo{
    background-color: #00669F;
    height: 162px;

}
h1{
    color: #FFFFFF;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    text-indent: 67px;
    top: 39px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bottom{
    background-image: url("../image/+.png");
    background-color: #00669F;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: sticky;
    left: 90%;
    bottom: 40%;
}

.batman{
    background-color: #F3F3F3;
    border-radius: 25px 25px 0 0;
    height: 1365px;
    margin: 100px;
    width: 805px;
}

.batman .imagen{
    background-image: url("../image/fondobatman.png");
    border-radius: 25px 25px 0 0;
    height: 493px;
    width: 805px;
}

.corazon{
    background-image: url("../image/corazon.png");
    bottom: 448px;
    height: 59px;
    position: relative;
    left: 40px;
    width: 67px;
}

.batman .foto{
    background-image: url("../image/batman.png");
    border-radius: 100%;
    height: 352px;
    left: 220px;
    margin: 0px;
    position: relative;
    bottom: 250px;
    width: 352px;
}

.batman h2{
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    text-align: center;
    bottom: 240px;
}

.batman .texto{
    bottom: 200px;
    height: 348px;
    left: 43px;
    position: relative;
    right: 43px;
    width: 718px;
}

.batman .texto{
    color: #333333;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}

.batman .vermas{
    background-color: #00669F;
    bottom: 150px;
    height: 114px;
    left: 229px;
    position: relative;
    right: 230px;
    width: 346px;
}

.vermas p{
    color: #F3F3F3;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 36px;
}

/* -------------------------------------------- */

.wonder{
    background-color: #F3F3F3;
    border-radius: 25px 25px 0 0;
    height: 1365px;
    margin: 100px;
    width: 805px;
}

.wonder .imagen{
    background-image: url("../image/fondowonder.png");
    border-radius: 25px 25px 0 0;
    height: 493px;
    width: 805px;
}

.corazon{
    background-image: url("../image/corazon.png");
    bottom: 448px;
    height: 59px;
    position: relative;
    left: 40px;
    width: 67px;
}

.wonder .foto{
    background-image: url("../image/wonder.png");
    border-radius: 100%;
    height: 352px;
    left: 220px;
    margin: 0px;
    position: relative;
    bottom: 250px;
    width: 352px;
}

.wonder h2{
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    text-align: center;
    bottom: 240px;
}

.wonder .texto{
    bottom: 200px;
    height: 348px;
    left: 43px;
    position: relative;
    right: 43px;
    width: 718px;
}

.wonder .texto{
    color: #333333;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}

.wonder .vermas{
    background-color: #00669F;
    bottom: 150px;
    height: 114px;
    left: 229px;
    position: relative;
    right: 230px;
    width: 346px;
}

.vermas p{
    color: #F3F3F3;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 36px;
}

/* ---------------------------------------------------------------------------------------------- */

.super{
    background-color: #F3F3F3;
    border-radius: 25px 25px 0 0;
    height: 1365px;
    margin: 100px;
    width: 805px;
}

.super .imagen{
    background-image: url("../image/fondosuper.png");
    border-radius: 25px 25px 0 0;
    height: 493px;
    width: 805px;
}

.corazon{
    background-image: url("../image/corazon.png");
    bottom: 448px;
    height: 59px;
    position: relative;
    left: 40px;
    width: 67px;
}

.super .foto{
    background-image: url("../image/super.png");
    border-radius: 100%;
    height: 352px;
    left: 220px;
    margin: 0px;
    position: relative;
    bottom: 250px;
    width: 352px;
}

.super h2{
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    text-align: center;
    bottom: 240px;
}

.super .texto{
    bottom: 200px;
    height: 348px;
    left: 43px;
    position: relative;
    right: 43px;
    width: 718px;
}

.super .texto{
    color: #333333;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}

.super .vermas{
    background-color: #00669F;
    bottom: 150px;
    height: 114px;
    left: 229px;
    position: relative;
    right: 230px;
    width: 346px;
}

.vermas p{
    color: #F3F3F3;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 36px;
}

/*---------------------------------------------------------------------------------------------------------*/
.harley{
    background-color: #F3F3F3;
    border-radius: 25px 25px 0 0;
    height: 1365px;
    margin: 100px;
    width: 805px;
}

.harley .imagen{
    background-image: url("../image/fondoharley.png");
    border-radius: 25px 25px 0 0;
    height: 493px;
    width: 805px;
}

.corazon{
    background-image: url("../image/corazon.png");
    bottom: 448px;
    height: 59px;
    position: relative;
    left: 40px;
    width: 67px;
}

.harley .foto{
    background-image: url("../image/harley.png");
    border-radius: 100%;
    height: 352px;
    left: 220px;
    margin: 0px;
    position: relative;
    bottom: 250px;
    width: 352px;
}

.harley h2{
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    text-align: center;
    bottom: 240px;
}

.harley .texto{
    bottom: 200px;
    height: 348px;
    left: 43px;
    position: relative;
    right: 43px;
    width: 718px;
}

.harley .texto{
    color: #333333;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}

.harley .vermas{
    background-color: #00669F;
    bottom: 150px;
    height: 114px;
    left: 229px;
    position: relative;
    right: 230px;
    width: 346px;
}

.vermas p{
    color: #F3F3F3;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 36px;
}

footer{
    background-color: #00669F;
    display: flex;
    height: 162px;
    justify-items: center;
}

footer h3{
    color: #FFF9F9;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}

.sponsor{
    background-image: url("../image/github.png");
    height: 67px;
    width: 249px;   
}

@media screen and (max-width: 800px){
    main {
        flex-direction: column;
    }
}

.consulta{
    font-size: 36px;
    width: 100%;
}

fieldset input{
    height: 50px;
    width: 25%;
}

.datosp input{
    display: block;
    margin: 15px;
}
.radio{
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    padding: 10px;
}
.radio input{
    height: 30px;
}
.motivo{
    display: flex;
    flex-direction: column;
}

.desplegable{
    font-size: 36px;
}

.toolbar{
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.toolbar button{
    font-size: 36px;
}

fieldset{
    background-color: #F3F3F3;
}

.datosp{
    background-color: #f3f3f3bd;
}