*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

header{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 221px;
    width: 2056px;
}
.descuento{
    background-color: #D1891C;
    height: 61px;
    width: 2056px;
}
.titulo{
    background-color: #00669F;
    height: 160px;
}

.descuento p{
    color: #333333;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    text-indent: 67px;
}

.titulo p{
    color: #FFFFFF;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    text-indent: 67px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 2056px;
}

.batman{
    background-color: aquamarine;
    margin: 15px;
    height: 1364.5px;
    width: 805px;
}

.batman .logo{
    border-radius: 50%;
}
.wonder{
    background-color: aquamarine;
    margin: 15px;
    height: 1364.5px;
    width: 805px;
}

.wonder .logo{
    border-radius: 50%;
}

.superman{
    background-color: aquamarine;
    margin: 15px;
    height: 1364.5px;
    width: 805px;
}

.superman .logo{
    border-radius: 50%;
}

.harley{
    background-color: aquamarine;
    margin: 15px;
    height: 1364.5px;
    width: 805px;
}

.harley .logo{
    border-radius: 50%;
}