@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #222222;
    height: 100px;
    width: 1024px;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

header img{
    bottom: 10px;
    height: 80px;
    left: 20px;
    position: relative;
    top: 10px;
    width: 234px;
}
.menutop{
    display: flex;
    align-items: center;
}

.menu{
    color: #F3F3F3;
    display: flex;
    height: 19px;
    justify-content: space-evenly;
    width: 284px;
}

main{
    align-content: center;
    background-color: #E5E5E5;
    display: flex;
    flex-wrap: wrap;
    height: 420px;
    justify-content: space-evenly;
    position: absolute;
    width: 1024px;
}

.envio{
    border-radius: 5px;
    display: flex;
    background-image: url("../image/delivery.jpg");
    height: 350px;
    width: 490px;
}
.envio ul{
    align-items: flex-start;
    display: flex;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    height: 28px;
    justify-content: space-around;
    width: 350px;
}
ul .rojo{
    color: red;
}
ul .blanco{
    color: white;
}
.podio{
    border-radius: 5px;
    background-color: #FFFFFF;
    height: 350px;
    width: 490px;
}
.podio h2{
    text-align: center;
    color: red;
    font-size: 24px;
}

.fila{
    align-items: center;
    display: flex;
    padding: 24px;
}

.columna{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.fila .columna{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.fila ol{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.columna img{
    width: 50%;
}

footer{
    background-color: #222222;
    height: 150px;
    width: 1024px;
    position: absolute;
    top: 520px;
}

footer .menu{
    position: absolute;
    top: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer img{
    bottom: 10px;
    height: 80px;
    left: 770px;
    position: relative;
    top: 35px;
    width: 234px;
}